@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100,200,300,400,500,600,700&family=Montserrat:wght@100,200,300,400,500,600,700&display=swap");

/* --------------------------------------------------------------------------------LANDING PAGE------------------------------------------------------------------------------------------ */

/* ---------------------------------------------Hero Image--------------------------------------------------- */

.hero-container {
  height: 100vh;
  background: url("../images/heroleaf.jpg") no-repeat bottom right fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  padding-top: 15%;
  padding-bottom: 5%;
}

@media (max-width: 767px) {
  .hero-container {
    height: 100vh;
    background: url("../images/heroleaf.jpg") no-repeat bottom right scroll;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    padding-top: 15%;
    padding-bottom: 5%;
  }
}

/* ---------------------------------------------Navbar Styling--------------------------------------------------- */

.company-name1 {
  border-bottom: 2px solid #ffaa00;
  font-family: "josefin sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 0;
}

.company-name2 {
  color: #000000;
  font-family: "montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  line-height: 0;
  margin-left: 0;
}

.navalert-container {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 0;
  padding-right: 0;
  z-index: 1;
  background-color: #589500;
  display: flex;
}

.navbar {
  margin-bottom: 0;
  border: 0;
  width: 100%;
}

.nav-link {
  font-family: "josefin sans", sans-serif;
  font-weight: 500;
  font-size: 120%;
  font-style: normal;
  color: #000000;
}

.nav-link:hover {
  font-family: "josefin sans", sans-serif;
  font-weight: 700;
  font-size: 25px;
  font-style: normal;
  color: #000000;
}

.navbar .navbar-toggler {
  border: 0;
  font-size: 250%;
}

.active-nav {
  border-bottom: 2px solid #ffaa00;
}

@media (max-width: 1199px) {
  .active-nav {
    width: 15%;
  }
}

/* ---------------------------------------------Container Styling--------------------------------------------------- */

.container-wrapper {
  background-color: rgba(188, 244, 110, 0.5);
}

.content-container {
  padding-top: 5%;
  padding-bottom: 5%;
}

@media (max-width: 767px) {
    .content-container {
        padding-top: 10%;
    }
}


/* ---------------------------------------------Block Divider--------------------------------------------------- */

.block-divider {
  width: 200px;
  height: 5px;
  border: 0;
  background-color: #ffaa00;
}


/* ---------------------------------------------Jumbotron Styling--------------------------------------------------- */

.jumbotron {
  background-color: rgba(188, 244, 110, 0.8);
  border-radius: 140px;
  width: 70%;
  margin-bottom: 0;
}

.jumbotron2 {
  background-color: rgba(188, 244, 110, 0.9);
  border-radius: 140px;
  width: 100%;
  margin-bottom: 0;
}

.jumbotron3 {
  background-color: rgba(188, 244, 110, 0.9);
  border-radius: 140px;
  width: 100%;
  margin-bottom: 0;
}

.jumbotron-header {
  color: #000000;
  font-weight: bold;
  font-family: "josefin sans", sans-serif;
  margin-bottom: 2%;
}

.jumbotron-header2 {
  color: #000000;
  font-weight: bold;
  font-family: "josefin sans", sans-serif;
  margin-bottom: 2%;
}

@media (max-width: 767px) {
    .jumbotron-header2 {
        margin-top: 20%;
    }
}

@media (max-width: 1199px) {
    .jumbotron {
        width: 100%;
        border-radius: 0;
    }

    .jumbotron2 {
        width: 100%;
        border-radius: 0;
    }

    .jumbotron3 {
        width: 100%;
        border-radius: 0;
    }
}

@media (max-width: 767px) {
  .jumbotron-header {
    font-size: 180%;
  }
  .block-divider {
    width: 100px;
  }
  .lead {
    font-size: 90%;
  }
  .service-text {
    font-size: 50%;
  }
}

.jumbotron .lead1 {
  margin: 25px 0;
  color: #008500;
  font-family: "josefin sans", sans-serif;
  font-weight: bold;
  font-size: 180%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.jumbotron .lead2 {
  margin: 25px 0;
  color: #000000;
  font-family: "montserrat", sans-serif;
  font-weight: bold;
}

@media (max-width: 767px) {
  .jumbotron .lead1 {
    font-size: 100%;
  }
  .jumbotron .lead {
    font-size: 80%;
  }
}

.page-header {
  margin-bottom: 0;
  border-bottom: 0;
  text-align: center;
}

.services .page-header {
  margin-bottom: 25px;
}

/* ---------------------------------------------Button Styling--------------------------------------------------- */

.btn--cta {
  font-weight: bold;
  border-radius: 23px;
  width: 160px;
  color: #000000;
  font-family: "montserrat", sans-serif;
  background-color: #ffaa00;
  border-color: #ffaa00;
}

.btn--cta:hover,
.btn--cta:active,
.btn--cta:focus,
.btn--cta:active:focus,
.quote-button:hover,
.quote-button:active,
.quote-button:focus,
.quote-button:active:focus {
  background-color: #d836c4;
  border-color: #d836c4;
}

/* ---------------------------------------------Services Section Icon Links and Text--------------------------------------------------- */

.service-link {
  color: #589500;
  text-decoration: none;
}

.service-link:hover {
  text-decoration: none;
  color: #ffaa00;
}

.service-text {
  color: #000000;
  font-family: "montserrat", sans-serif;
  font-size: 150%;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.active-services {
    color: #ffaa00;
}

/* ---------------------------------------------Reviews Section and Bootstrap Carousel--------------------------------------------------- */

.review-pic {
  width: 20%;
  height: 20%;
  margin: auto;
}

.carousel-caption {
  position: relative;
  left: auto;
  right: auto;
}

.review-heading {
  color: #000000;
  font-family: "josefin sans", sans-serif;
  font-size: 30px;
}

.review-body {
  color: #000000;
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  margin-top: 40px;
}

.carousel-indicators li {
  background-color: #ffaa00;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 5px solid #ffaa00;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 55px;
  color: #000000;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: #000000;
}

.carousel-indicators {
bottom: -30px;
}

/* ---------------------------------------------Footer Styling--------------------------------------------------- */

.footer {
  background: #589500;
  padding: 20px 0px;
  color: #000000;
}

.footer h1 {
  font-weight: 700;
  font-family: "josefin sans", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 15px;
  color: #ffaa00;
}

.website-address {
  letter-spacing: 2px;
  font-size: 20px;
}

.footer ul li {
  margin: 5px 0px;
}

.footer-sub-text {
  font-family: "montserrat", sans-serif;
}

.social-links a:hover {
  color: #ffaa00;
}

.social-links li a {
  color: #000000;
  font-size: 250%;
}

/* ---------------------------------------------Phone Number Link Decoration--------------------------------------------------- */

a[href^="tel"] {
  text-decoration: none;
  color: #000000;
}

/* -------------------------------------------------------------------------------------CONTACT US PAGE------------------------------------------------------------------------------------ */


.quote-button {
  font-weight: bold;
  font-size: 100%;
  border-radius: 23px;
  width: 250px;
  height: 50px;
  color: #000000;
  font-family: "montserrat", sans-serif;
  background-color: #ffaa00;
  border-color: #ffaa00;
  border: none;
}

.text-input {
  font-family: "montserrat", sans-serif;
  background-color: #faebd7;
  color: #000000;
  width: 100%;
  height: 40px;
  margin: 5px 0px 20px 0px;
  border: none;
  border-radius: 2px;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.message-input {
  font-family: "montserrat", sans-serif;
  background-color: #faebd7;
  color: #000000;
  margin: 5px 0px 20px 0px;
  border: none;
  border-radius: 2px;
  display: block;
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .quote-button {
    width: 100% !important;
    font-size: 80% !important;
  }
}


/* -------------------------------------------------------------------------------------ABOUT US PAGE------------------------------------------------------------------------------------ */

.about-text {
    font-family: "josefin sans", sans-serif;
    font-size: 150%;
    color: #000000;
    text-align: center;
}

@media (max-width: 773px) {
  .about-text {
    font-size: 100%
  }
}

.free-text {
    color: #ffaa00;
}

.about-image {
    width: 100%;
    height: auto;
    margin: auto;
    border: 5px solid #ffaa00;
    border-radius: 4px;
    padding: 5px;
}

.about-image:hover {
    border: 5px solid #d836c4;
}


/* -------------------------------------------------------------------------------------COMPLETED PROJECTS PAGE------------------------------------------------------------------------------------ */

.project-pic {
    width: 80%;
    height: auto;
    margin: auto;
    border: 5px solid #ffaa00;
    border-radius: 4px;
    padding: 5px;
}

.project-pic:hover {
    border: 5px solid #d836c4;
}

.project-gallery {
    column-count: 3
}

@media screen and (max-width: 800px) {
  .project-gallery {
    column-count: 2;
  }
}


/* -------------------------------------------------------------------------------------LOCATION PAGE------------------------------------------------------------------------------------ */

.location-header {
    color: #ffaa00;
    font-family: "josefin sans", sans-serif;
    font-size: 300%;
}

.location-text {
    color: #000000;
    font-family: "montserrat", sans-serif;
    font-size: 150%;
    font-weight: bold;
}


/* -------------------------------------------------------------------------------------PROPERTY MAINTENANCE PAGE------------------------------------------------------------------------------------ */

.property-text {
    column-count: 2;
}

@media screen and (max-width: 800px) {
  .property-text {
    column-count: 1;
  }
}

.property-pic {
  width: 70%;
  height: auto;
  margin: auto;
}